server {
    listen ${PORT};
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    # Correct MIME type for the web worker
    types {
        text/javascript js mjs;
    }

    gzip on;
    gzip_types text/plain text/css application/javascript application/json image/svg+xml;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location = /404.html {
        internal;
    }

    error_page 404 /404.html;
}
